# example for aam-prod (admin.aam-digital.com)
# see docs: https://oauth2-proxy.github.io/oauth2-proxy/

http_address="0.0.0.0:4180"
cookie_secret="<16 byte secret>"
email_domains="*"
cookie_secure="false"
upstreams="http://admin-ms:3000"
cookie_domains=["aam-digital.dev", "aam-digital.net"] # Required so cookie can be read on all subdomains.
whitelist_domains=["aam-digital.dev", "aam-digital.net"] # Required to allow redirection back to original requested target.

# keycloak provider
client_secret="<secret>"
client_id="<client_id>"
redirect_url="https://aam-prod-3.aam-digital.net/oauth2/callback"

# in this case oauth2-proxy is going to visit
# http://keycloak.localtest.me:9080/realms/oauth2-proxy/.well-known/openid-configuration for configuration
oidc_issuer_url="https://auth.aam-digital.dev/realms/aam-digital"
provider="keycloak-oidc"
provider_display_name="Aam-Digital ID"
code_challenge_method="S256"

# support for jwt tokens, needed for access over rest
set_authorization_header="true"
skip_jwt_bearer_tokens="true"
oidc_extra_audiences="grafana" # Required to allow requests from monitoring
