CRYPTO_CONFIGURATION_SECRET=
SERVER_SERVLET_CONTEXT_PATH=/api
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI=
SPRING_RABBITMQ_VIRTUALHOST=/
SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_LISTENER_DIRECT_RETRY_ENABLED=true
SPRING_RABBITMQ_LISTENER_DIRECT_RETRY_MAXATTEMPTS=5
SPRING_DATASOURCE_URL=jdbc:postgresql://aam-backend-service-db:5432/aam-backend-service
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_SERVLET_MULTIPART_MAXFILESIZE=5MB
LOGGING_LEVEL_COM_AAMDIGITAL_AAMBACKENDSERVICE=warn
FEATURES_SKILLAPI_MODE=disabled
FEATURES_EXPORTAPI_ENABLED=true
FEATURES_NOTIFICATIONAPI_ENABLED=false
FEATURES_NOTIFICATIONAPI_MODE=firebase
NOTIFICATIONFIREBASECONFIGURATION_CREDENTIALFILEBASE64=
NOTIFICATIONFIREBASECONFIGURATION_LINKBASEURL=
COUCHDBCLIENTCONFIGURATION_BASEPATH=http://couchdb-with-permissions:5984
COUCHDBCLIENTCONFIGURATION_BASICAUTHUSERNAME=
COUCHDBCLIENTCONFIGURATION_BASICAUTHPASSWORD=
SQSCLIENTCONFIGURATION_BASEPATH=http://sqs:4984
SQSCLIENTCONFIGURATION_BASICAUTHUSERNAME=
SQSCLIENTCONFIGURATION_BASICAUTHPASSWORD=
AAM_RENDER_API_CLIENT_CONFIGURATION_BASE_PATH=
AAM_RENDER_API_CLIENT_CONFIGURATION_AUTH_CONFIG_CLIENT_ID=
AAM_RENDER_API_CLIENT_CONFIGURATION_AUTH_CONFIG_CLIENT_SECRET=
AAM_RENDER_API_CLIENT_CONFIGURATION_AUTH_CONFIG_TOKEN_ENDPOINT=
AAM_RENDER_API_CLIENT_CONFIGURATION_AUTH_CONFIG_GRANT_TYPE=
AAM_RENDER_API_CLIENT_CONFIGURATION_AUTH_CONFIG_SCOPE=
DATABASECHANGEDETECTION_ENABLED=true
EVENTS_LISTENER_REPORT_CALCULATION_ENABLED=true
SENTRY_AUTH_TOKEN=
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_LOGGING_ENABLED=true
SENTRY_ENVIRONMENT=production
SENTRY_SERVER_NAME=
SENTRY_ATTACH_THREADS=true
SENTRY_ATTACH_STACKTRACE=true
SENTRY_ENABLE_TRACING=true
